<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{{ titular }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <style>
        
        body {
            background-color: khaki;
            padding-left: 20px;
            padding-right: 20px;
        }

        #central {
            background-color: rgb(248, 244, 185);
            padding: 15px;
            vertical-align: text-top;
        }
        #pie {
            margin-top: 40px;
        }
    </style>
</head>

<body>
    <div id="titular">
        <h1>{{ noticia.titulo }}</h1>
    </div>
    <div id="central">{{ noticia.cuerpo|safe }}</div>

    <div  id="pie"><a class="btn btn-outline-dark" href="/">Volver a la página principal</a></div>
</body>

</html>